<Body:>
  {{#with home}}
  <!-- The value of _ipAddress is set in src/server/index.coffee -->
  <h1 style="color:{unspace(.titleColor)}">Welcome in {.titleColor}, {{_info.ipAddress}}!</h1>
  <p>This is a collection of random demos. Check 'em out!</p><br>
  <p>
    <label>Title color:&sp;
      <select id=title-select>
        {#each .colors}
          <option selected="{equal(.name, home.titleColor)}">{capitalize(.name)}</option>
        {/}
      </select>
    </label>&sp;
    <input id=title-input value={.titleColor}>
    <h3>Colors:</h3>
    <div>
      {#each .colors}
        <p>
          <input type=radio name=title-radio checked="{equal(.name, home.titleColor)}">&sp;
          <input class=color-input value={.name}>&sp;
          <button x-bind="click: home.select">Select</button>
        </p>
      {/}
    </div>
  </p><br><br>
  <p><a href=#jump>Test jump link</a></p><br>
  <p><a href=/live-css/popout>Test Live CSS popped out</a></p>
  <p style="margin:400px 0 1000px">
    <span id=jump>Jumped!</span> -&sp;
    <a href="#">Back to top</a> -&sp;
    <a href=/live-css>Go to Live CSS</a>
  </p>
  {{/}}
