<import: src=home>
<import: src=liveCss>
<import: src=tableEditor>
<import: src=leaderboard>
<import: src=submit>
<import: src=bindingsBench>

<Title:>
  Derby demo: {{pageTitle($ns)}}

<Header:>
  <!-- $ns is the namespace supplied to the render function -->
  <body class={{dash($ns)}}>
  <!-- if a component is nonvoid, it must have a closing tag -->
  <app:nav>
    {{#each navItems($ns)}}
      {{#if isCurrent}}
        <b>{{title}}</b>
      {{else}}
        <a href={{href}}>{{title}}</a>
      {{/}}
      {{#unless isLast}} | {{/}}
    {{/}}
  </app:nav>

<nav: nonvoid>
  <nav>
    <!-- nonvoid components support a special `content` attribute -->
    {{@content}}
    <hr>
  </nav>
