<Body:>
  <button x-bind="click: tableEditor.addRow">Add row</button>&sp;
  <button x-bind="click: tableEditor.addCol">Add column</button>
  <hr>
  {{#with sink.table}}
  <table>
    <tr>
      <td></td>
      {#each .cols}
        <th x-bind="mousedown: tableEditor.colDown" class=col>{.name}</th>
      {/}
      <td></td>
    </tr>
    {#each .rows}
      <tr class=row>
        <th x-bind="mousedown: tableEditor.rowDown">{.name}</th>
        {#each .cells}<td><input value={.text}></td>{/}
        <td><button x-bind="click: tableEditor.deleteRow">Delete</button></td>
      </tr>
    {/}
    <tr class=foot>
      <td></td>
      {#each .cols}<td><button x-bind="click: tableEditor.deleteCol">Delete</button></td>{/}
      <td></td>
    </tr>
  </table>
  {{/}}
