<Title:>
  Widgets

<Header:>
  <body>
  <ui:connectionAlert>

<Body:>
  <boot:modal name="testModal" show={_showModal} close="Meh" primary="You too!">
    <@title>Modal <i>town</i></@title>
    How nice to see you!
  </boot:modal>

  <div class="container">
    <h1>Bootstrap widgets</h1>
    <div class=btn-toolbar>
      <boot:dropdown value={test.selected} items={test.options}>
      <div class=btn-group>
        <app:button clickFn="showModal">Show modal</app:button>
      </div>
    </div>
  </div>

<!-- demonstrate passing in an x-bind function name to a component -->
<button: nonvoid>
  <button class=btn x-bind="click: {{{clickFn}}}">Show modal</button>
