<Body:>
  <div class="jumbotron">
    <h1>Derby Login Example</h1>
    <p class="lead">Try logging in with Twitter or Facebook</p>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Twitter</h4>
      <p>
        {#if _session.user.twitter}
          <a class="zocial twitter" disabled>
            Logged in with Twitter
          </a>
        {else}
          <a class="zocial twitter" href='/auth/twitter'>
            Sign in with Twitter
          </a>
        {/}
      </p>

      <h4>LinkedIn</h4>
      <p>
        {#if _session.user.linkedin}
          <a class="zocial linkedin" disabled>
            Logged in with LinkedIn
          </a>
        {else}
          <a class="zocial linkedin" href='/auth/linkedin'>
            Sign in with LinkedIn
          </a>
        {/}
      </p>
    </div>

    <div class="span6">
      <h4>Facebook</h4>
      <p>
        {#if _session.user.facebook}
          <a class="zocial facebook" disabled>
            Logged in with Facebook
          </a>
        {else}
          <a class="zocial facebook" href='/auth/facebook'>
            Sign in with Facebook
          </a>
        {/}
      </p>

      <h4>github</h4>
      <p>
        {#if _session.user.github}
          <a class="zocial github" disabled>
            Logged in with github
          </a>
        {else}
          <a class="zocial github" href='/auth/github'>
            Sign in with github
          </a>
        {/}
      </p>
  </div>
