<Title:>
  DerbyJS • Authentication

<Header:>
	<ui:connectionAlert>

<Body:>

	{#if _user.auth.facebook}
		Logged in as {_user.auth.facebook.name}<br/>
		<a href="/logout">Logout</a>
	{else}
		<div id='fb-login' class='fb_button' style='background-position: left -188px'>
		    <a class='fb_button_medium' href='/auth/facebook'>
		      <span id='fb_login_text' class='fb_button_text'>
		        Connect with Facebook
		      </span>
		    </a>
		</div>
	{/}

    {#if _user.auth.password}
        Logged in as {_user.auth.password.id}<br/>>
        <a href="/logout">Logout</a>
    {else}
        <h2>Register</h2>
        <ul id="errors">
            {#each _errors as :error}<li class='error'>{:error}</li>{/}
        </ul>
        <form action='/register' method='post'>
            <div id="login">
                <label for="everyauth.password.loginFormFieldName">Login</label>
                <input type='text' name="everyauth.password.loginFormFieldName" value="userParams[everyauth.password.loginFormFieldName]" />
            </div>
            <div id="password">
                <label for="everyauth.password.passwordFormFieldName">Password</label>
                <input type='password' name="everyauth.password.passwordFormFieldName" />
            </div>
            <div id="submit"><input type="submit" value="Register"/></div>
        </form>
    {/}