<Title:>
  DerbyJS • Authentication

<Header:>
	<ui:connectionAlert>

<Body:>

    <p>
	{#if _user.auth.facebook}
		Logged in as {_user.auth.facebook.name} - <a href="/logout">Logout</a>
	{else}
		<a href='/auth/facebook'>Connect with Facebook</a>
	{/}
    </p>

    <p>
    {#if _user.auth.linkedin}
        Logged in as {_user.auth.linkedin.firstName} {_user.auth.linkedin.lastName} - <a href="/logout">Logout</a>
    {else}
        <a href='/auth/linkedin'>Connect with LinkedIn</a>
    {/}
    </p>

    <p>
    {#if _user.auth.github}
        Logged in as {_user.auth.github.name} - <a href="/logout">Logout</a>
    {else}
        <a href='/auth/github'>Connect with Github</a>
    {/}
    </p>

    {#if _user.auth.local}
        Logged in as {_user.auth.local.username}<br/>>
        <a href="/logout">Logout</a>
    {else}

        <h2>Login</h2>
        <ul class="errors">
            {#each _errors as :error}<li class="error">{:error}</li>{/}
        </ul>
        <form action='/login' method='post'>
            <input type='text' name="username" placeholder="Username" />
            <input type='password' name="password" placeholder="Password"/>
            <div id="submit"><input type="submit" value="Login"/></div>
        </form>

        <h2>Register</h2>
        <ul id="errors">
            {#each _errors as :error}<li class='error'>{:error}</li>{/}
        </ul>
        <form action='/register' method='post'>
            <input type='text' name="username" placeholder="Username"/>
            <input type='password' name="password" placeholder="Password" />
            <div id="submit"><input type="submit" value="Register"/></div>
        </form>
    {/}