body
  padding-top: 50px

h1
  transition: color .5s

.btn-toolbar
  margin-bottom: 20px

.connection
  position: absolute
  text-align: center
  top: 0
  left: 0
  width: 100%
  height: 0
  z-index: 2000
.connection > .alert
  border-top: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  display: inline-block
