derbyTeal = #12B9B3
derbyTealDark = #169795
//derbyTealDark = #2d6961

// J.Lo's palette
derbySand = #FFFBF9 //background
derbyGranite = #FDF7F4 //sidebar background
derbyBrick = #F9E8E7 //`code`

derbySeaweed = #1C5654 //navbar text
derbyAlgae = #1D8482 // navbar selected bg

derbyBlack = #2F3439
derbyGray = #696969

body
  background-color: derbySand
svg
  margin: 10px

h1
  transition: color .5s


.charts
  width: 350px
  float:left
  height: 200px
  .bar
    fill: derbyTeal
.inputs
  margin: 10px
  min-width: 350px
  max-width: 350px
  width: calc(100% - 320px)
  float: right
  height: 200px

  .datum
    display:inline-block
    //float:left
    //clear:left
  .d-label
    float:left
    width: 30px
    text-align: right
  .d-input
    float:left
    margin-left: 10px
  .button
    margin: 1px 5px
    padding 1px 8px
    background: derbyBrick
    color: derbySeaweed
    border: none
    border-radius: 10px
  .plus
    color: derbySand
    background: derbyTeal
  .inactive
    background: lightgray
  .add
    margin 5px 10px
    margin-top: 5px
    margin-left: 10px
    //float:left
    //clear:left

.btn-toolbar
  margin-bottom: 20px

.connection
  position: absolute
  text-align: center
  top: 0
  left: 0
  width: 100%
  height: 0
  z-index: 2000
.connection > .alert
  border-top: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  display: inline-block


@media (max-width: 740px)
  .inputs
    margin-top: 30px
    float:left
    clear: left