<Title:>
  Charts

<Head:>
  <view is="d-codemirror:includes" static="/cm"></view>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto:400,600' rel='stylesheet' type='text/css'>


<Body:>
  {{if #root.$render.query.view === "editor"}}
    <view is="editor" html="{{_page.html}}" data="{{widgets.data}}"></view>
  {{else if #root.$render.query.view === "bars"}}
    <view is="bars"></view>
  {{else}}
    <view is="editor" html="{{_page.html}}" data="{{widgets.data}}"></view>
    <view is="bars"></view>
  {{/if}}

<bars:>
  <div class="charts">
    <div class=barchart>
      <view name="d-barchart" data={{widgets.data.foo}} width=350 height=200></view>
    </div>
  </div>

  <div class="inputs">
    <div class=add>
      <button on-click="page.add()" class="x plus button {{if widgets.data.foo.length >= 12}}inactive{{/if}}">+</button> 
      {{if widgets.data.foo.length < 12}}Add a new Bar{{/if}}
    </div>
    {{each widgets.data.foo as #d,#i}}
    <div class=datum>
      <div class="d-input">
        <input type=range value={{#d.value}}>
        <button on-click="page.remove(#d,#i,$element)" class="x button">x</button>
      </div>
    </div>
    {{/each}}
  </div>

<editor:>
  <div class="editor">
    <view name="d-codemirror" text="{{html}}" options="{{ { tabSize: 2, smartIndent: false, lineNumbers: true, mode: 'htmlmixed' } }}"></view> 
  </div>
  <div class="renderers">
    <div class="browser render">
      <img src="/images/browser.png" alt="Browser" title="Browser">
      <div class="inside">
        {{on rerender}}<view is="custom" as="customView" data="{{data}}"></view>{{/on}}
      </div>
    
    </div>
    <div class="mobile render">
      <img src="/images/iphone.png" alt="Mobile" title="Mobile">
      <div class="inside">
        {{on rerender}}<view is="custom" as="customView" data="{{data}}"></view>{{/on}}
      </div>
      
    </div>
    <div class="email render">
      <img src="/images/email.png" al="Email" title="Email">
      <div class="inside">
        {{on rerender}}<view is="custom" as="customView" data="{{data}}"></view>{{/on}}
      </div>
      
    </div>
  </div>
  <div as="tester" style="display:none"></div>

<custom:>
  test