<Body:>
  <div style="display:table-cell">
  <h2>
    {{#if _newId}}
      Add a new person
    {{else}}
      Edit {_person.name}
      <a x-bind="click: deletePerson" style="float:right;margin-top:3px" class="btn btn-danger">Delete</a>
    {{/}}
  </h2>
  <p></p>
  <form class="well" x-bind="submit: done" >
    <div class="row">
      <div class="span3">

        <app:field label="Name" error={_nameError}>
          <input type="text" id="name" value={_person.name}>
        </app:field>

        <app:field label="Email">
          <input type="text" value={_person.email}>
        </app:field>

        <app:field label="Twitter">
          <input type="text" value={_person.twitter}>
        </app:field>

      </div>
      <div class="span3">

        <app:field label="Gender">
          <boot:dropdown value={_person.gender} options={_genders}>
        </app:field>

        <app:field label="Phone">
          <input type="text" value={_person.phone}>
        </app:field>

      </div>
    </div>
    <p></p>
    <button class="btn btn-primary" type="submit">
      {{#if _newId}}Add person{{else}}Done{{/}}
    </button> 
    {{#if _newId}}
      <button class="btn" type="button" x-bind="click: cancel">Cancel</button>
    {{/}}
  </form>
</div>

<field: nonvoid>
  <fieldset class="control-group {{{#if error}}}error{{{/}}}">
    <label>{{{label}}}</label>
    {{{content}}}
  </fieldset>
