<Body:>
  <div style="display:table-cell">
  <h2>
    {{#if _page.person.id}}
      Edit {_page.person.name}
      <a x-bind="click: deletePerson" style="float:right;margin-top:3px" class="btn btn-danger">Delete</a>
    {{else}}
      Add a new person
    {{/}}
  </h2>
  <p></p>
  <form class="well" x-bind="submit: done" >
    <div class="row">
      <div class="span3">

        <app:field label="Name" error={_page.nameError}>
          <input type="text" id="name" value={_page.person.name} autofocus={{not(_page.person.id)}}>
        </app:field>

        <app:field label="Email">
          <!-- The atomic option means that the entire text is overwritten
          on any input instead of just inserting and removing characters. -->
          <input x-atomic type="text" value={_page.person.email}>
        </app:field>

        <app:field label="Twitter">
          <input x-atomic type="text" value={_page.person.twitter}>
        </app:field>

      </div>
      <div class="span3">

        <app:field label="Gender">
          <boot:dropdown value={_page.person.gender} options='[
            {"text": "(unknown)", "value": null},
            {"text": "Female"},
            {"text": "Male"},
            {"text": "Other"}
          ]'>
          </boot:dropdown>
        </app:field>

        <app:field label="Phone">
          <input x-atomic type="text" value={_page.person.phone}>
        </app:field>

      </div>
    </div>
    <p></p>
    <button class="btn btn-primary" type="submit">
      {{#if _page.person.id}}Done{{else}}Add person{{/}}
    </button>
    {{#unless _page.person.id}}
      &sp;<button class="btn" type="button" x-bind="click: cancel">Cancel</button>
    {{/}}
  </form>
</div>

<field: nonvoid>
  <fieldset class="control-group {#if @error}error{/}">
    <label>{{@label}}</label>
    {{@content}}
  </fieldset>
