<import: src="./home">
<import: src="./edit">
<import: src="./people">

<Title:>
  Company directory

<Header:>
  <ui:connectionAlert>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Directory</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="{{#if equal($url, '/')}}active{{/}}">
              <a href="/">Home</a>
            </li>
            <li class="{{#if equal($url, '/people')}}active{{/}}">
              <a href="/people">People</a>
            </li>
            <li class="{{#if equal($url, '/people/new')}}active{{/}}">
              <a href="/people/new">Add somebody</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

<Footer:>
    <hr>
    <footer>
      <p>&copy; Company 2012</p>
    </footer>
  </div>
