<Body:>
  <div class="row">
    <div class="span8">
      {#if _people}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Twitter</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            {#each _people}
              <tr>
                <td><a href="/people/{.id}">{.name}</a></td>
                <td>{.phone}</td>
                <td><a href="mailto:{.email}">{.email}</a></td>
                <td><a href="http://twitter.com/{.twitter}">{.twitter}</a></td>
                <td>{.gender}</td>
              </tr>
            {/}
          </tbody>
        </table>
      {else}
        <h3>No people added yet.</h3>
        <p>How about <a href="/people/new">adding someone</a>?</p>
      {/}
    </div>
  </div>
