index:
  .jumbotron
    .container
      h1 Directory
      p The directory has a listing of some people.
      p
        a.btn.btn-lg.btn-primary(href='/people/new', role='button')
          | Add somebody &raquo;
