<content:>
  <view name="circles" n=1></view>

<circles:>
  <div>
    <p>
      {{if _page.mode}}
        Mode: <b>{{_page.mode}}</b> &nbsp; FPS: <b>{{_page.fps}}</b>
      {{else}}
        Select a mode to run:
      {{/}}
    </p>
    <p>
      {{each modes}}<button on-click="start(this)">{{this}}</button>{{/}}
      <button on-click="stop()">Stop</button>
    </p>
  </div>
  {{each _page.boxes}}
    <div class="box-view">
      <div class="box" style="
        top: {{this.top}}px;
        left: {{this.left}}px;
        background: rgb(0, 0, {{this.color}});">
        {{this.content}}
      </div>
    </div>
  {{/}}
