<Body:>

  <div>
    <p>
      {#if _page.mode}
        Mode: <b>{_page.mode}</b> &nbsp; FPS: <b>{_page.fps}</b>
      {else}
        Select a mode to run:
      {/}
    </p>
    <p>
      {{#each modes}}<button x-bind="click: start">{{this}}</button>{{/}}
      <button x-bind="click: stop">Stop</button>
    </p>
  </div>

  {#if _page.bindProperties}
    <div>
      {#each _page.boxes as :box}
        <div class="box-view">
          <div id="box-{{$index}}" class="box"
            style="top: {.top}px; left: {.left}px; background: rgb(0, 0, {.color});">
            {.content}
          </div>
        </div>
      {/}
    </div>
  {else}
    <div>
      {#each _page.boxes}
        <div class="box-view">
          <div id="box-{{$index}}" class="box"
          style="top: {{top}}px; left: {{left}}px; background: rgb(0, 0, {{color}});">
            {{content}}
          </div>
        </div>
      {/}
    </div>
  {/}
