<index:>
  <view is="colored-title">
    <p>This is a collection of random demos. Check 'em out!</p><br>
  </view>
  <br><br>
  <view is="svg-ellipse" data={{sink.home.ellipse}}></view>
  <br><br>
  <p><a href="#jump">Test jump link</a></p><br>
  <p><a href="/live-css/popout">Test Live CSS popped out</a></p>
  <p style="margin: 400px 0 1000px">
    <span id="jump">Jumped!</span> -&sp;
    <a href="#">Back to top</a> -&sp;
    <a href="/live-css">Go to Live CSS</a>
  </p>

<colored-title:>
  <h1 style="color: {{unspace(titleColor)}}">Welcome in {{titleColor}}!</h1>
  {{@content}}
  <p>
    <label>Title color:&sp;
      <select id="title-select">
        {{each colors}}
          <option selected="{{titleColor === this.name}}">
            {{capitalize(this.name)}}
          </option>
        {{/each}}
      </select>
    </label>&sp;
    <input id="title-input" value="{{titleInputValue(titleColor)}}">
  </p>
  <h3>Colors:</h3>
  <div>
    {{each colors}}
      <p>
        <input type="radio" is="title-radio" checked="{{titleColor === this.name}}">&sp;
        <input class="color-input" value="{{colorInputValue(this.name, titleColor)}}">&sp;
        <button on-click="model.set('titleColor', this.name)">Select</button>
      </p>
    {{/each}}
  </div>

<svg-ellipse:>
  <svg width="200" height="200">
    <ellipse cx="{{@data.cx}}" cy="{{@data.cy}}" rx="{{@data.rx}}" ry="{{@data.ry}}" fill="{{@data.fill}}" />
  </svg>
  <p>CX: <input type="number" value="{{@data.cx}}"></p>
  <p>CY: <input type="number" value="{{@data.cy}}"></p>
  <p>RX: <input type="range" value="{{@data.rx}}"></p>
  <p>RY: <input type="range" value="{{@data.ry}}"></p>
  <p>Fill: <input value="{{@data.fill}}"></p>
