<!-- 
<import: src=liveCss>

<import: src=submit>
 -->

<import: src="home">
<import: src="bench">
<import: src="leaderboard">
<import: src="table-editor">

<Title:>
  Derby demo: {{pageTitle($render.ns)}}

<header:>
  <nav>
    {{each navItems($render.ns) as #item}}
      {{if #item.isCurrent}}
        <b>{{#item.title}}</b>
      {{else}}
        <a href={{#item.href}}>{{#item.title}}</a>
      {{/if}}
      {{unless #item.isLast}} | {{/unless}}
    {{/each}}
    <hr>
  </nav>

<Body:>
  <view name="d-connection-alert"></view>
  <view name="d-before-unload"></view>
  <view name="header"></view>
  <view name="{{$render.prefix}}content"></view>
