<Root:>
  <html x-bind="click: leaderboard.deselect">

<Body:>
  <form x-bind="submit: leaderboard.add">
    <input value="{_page.newPlayer}"> <input type="submit" value="Add player">&sp;
    <button x-bind="click: leaderboard.remove" disabled="{not(_page.selected)}">
      Remove&sp;
      {#if _page.selected}
        {{.name}}
      {else}
        selected
      {/}
    </button>
  </form>

  <!--
    By binding click here, it will prevent click events within this div
    from bubbling further and reaching the document node. All clicks
    outside of this div will continue bubbling up to the document.
  -->
  <div id="leaderboard" x-bind="click">
    <div class="selected-player">
      {#if _page.selected}
        <p class="vote">
          <button x-bind="click: leaderboard.increment">+ 5</button>
          <button x-bind="click: leaderboard.decrement">- 5</button>
        </p>
        {{.name}}
      {else}
        Click a player to select
      {/}
    </div>
    <ul>
      {#each _page.list as :player}
        <li class="{#if equal(.id, _page.selectedId)}selected{/}"
            x-bind="click: leaderboard.select">
          <p class="score">{:player.score}</p>{{.name}}
        </li>
      {/}
    </ul>
  </div>
