<index:>
  <view is="chrome">
    <div class="container">
      <h2>
        {{if person.id}}
          Edit {{person.name}}
          <a on-click="deletePerson()" style="float:right;margin-top:3px" class="btn btn-danger">Delete</a>
        {{else}}
          Add a new person
        {{/}}
      </h2>
      <view is="form"></view>
    </div>
  </view>

<form:>
  <form role="form" class="well" on-submit="done()">
    <div class="row">
      <div class="col-xs-6">
        <field label="Name" has-error="{{nameError}}">
          <input type="text" class="form-control" as="nameInput" value="{{person.name}}" autofocus="{{!person.id}}">
        </field>
        <field label="Email">
          <input type="email" class="form-control" value="{{person.email}}">
        </field>
        <field label="Twitter">
          <input type="text" class="form-control" value="{{person.twitter}}">
        </field>
      </div>

      <div class="col-xs-6">
        <field label="Gender">
          <dropdown value="{{person.gender}}">
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
          </dropdown>
        </field>
        <field label="Phone">
          <input type="tel" class="form-control" value="{{person.phone}}">
        </field>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      {{if person.id}}Done{{else}}Add person{{/}}
    </button>
    {{unless person.id}}
      &sp;<button type="button" class="btn btn-link" on-click="cancel()">Cancel</button>
    {{/}}
  </form>

<field: tag="field">
  <div class="form-group{{if @hasError}} has-error{{/if}}">
    <label class="control-label">{{@label}}</label>
    {{@content}}
  </div>
