<Title:>
  <title>Chat ({{_page.messages.length}}) - {{_page.user.name}}</title>

<Head:>
  <meta name="viewport" content="width=device-width">

<Body:>
  <div id="page">
    <div id="messages">
      <ul id="messageList">
        {{each _page.messages as #message}}
          <view name="message"></view>
        {{/}}
      </ul>
    </div>
    <div id="foot">
      <div class="pic {{_page.user.picClass}}"></div>
      <div id="inputs">
        <input id="inputName" value="{{_page.user.name}}">
        <form id="inputForm" x-bind="submit: postMessage">
          <input id="commentInput" value="{{_page.newComment}}" autofocus>
        </form>
      </div>
    </div>
  </div>

<Scripts:>
  <script>
    (window.onresize = function() {
      var height = document.getElementById('messageList').offsetHeight;
      document.getElementById('messages').scrollTop = height;
    })();
  </script>

<message:>
  <li>
    <div class="pic {{users[#message.userId].picClass}}"></div>
    <div class="message">
      <p class="time">{{displayTime(#message)}}</p>
      <p><b>{{users[#message.userId].name}}</b></p>
      <p>{{#message.comment}}</p>
    </div>
  </li>
