<Title:>
  Chat ({{count(messages)}}) - {{_page.user.name}}

<Head:>
  <meta name="viewport" content="width=device-width">

<Body:>
  <div id="page">
    <view name="messages" collection="{{messages}}"></view>
    <div id="foot">
      <div class="pic {{_page.user.picClass}}"></div>
      <div id="inputs">
        <input id="inputs-name" value="{{_page.user.name}}">
        <form id="inputs-form" on="submit: postMessage()">
          <input id="inputs-comment" value="{{_page.newComment}}" autofocus>
        </form>
      </div>
    </div>
  </div>
  <view name="scripts"></view>

<messages:>
  <div id="messages" as="container" on="scroll: scroll()">
    <ul id="messages-list" as="list">
      {{each list as #message}}
        <view name="message"></view>
      {{/}}
    </ul>
  </div>

<message:>
  <li>
    <div class="pic {{users[#message.userId].picClass}}"></div>
    <div class="message">
      <p class="time">{{displayTime(#message)}}</p>
      <p><b>{{users[#message.userId].name}}</b></p>
      <p>{{#message.comment}}</p>
    </div>
  </li>

<scripts:>
  <script>
    (window.onresize = function() {
      var height = document.getElementById('messages-list').offsetHeight;
      document.getElementById('messages').scrollTop = height;
    })();
  </script>
